@using STOContracts.ViewModels;

@model CheckboxWorkViewModel

@{
	ViewData["Title"] = "CreateWork";
}
<div class="text-center">
	<h2 class="display-4">Создание работы</h2>
</div>
<form method="post">
	<h3>ТО:</h3>
	@for (var item = 0; item < @Model.Maintenance.Count(); item++)
	{
		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" asp-for="@Model.Maintenance[item].IsChecked">
			<label class="form-check-label" for="flexSwitchCheckDefault">@Model.Maintenance[item].LabelName</label>
			<input type="hidden" asp-for="@Model.Maintenance[item].Id" />
			<input type="hidden" asp-for="@Model.Maintenance[item].LabelName" />
			<input type="number" asp-for="@Model.Spares[item].Count" />
		</div>
	}
	<hr>
	<h3>Запчасти:</h3>
	@for (var item = 0; item < @Model.Spares.Count(); item++)
	{
		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" asp-for="@Model.Spares[item].IsChecked">
			<label class="form-check-label" for="flexSwitchCheckDefault">@Model.Spares[item].LabelName</label>
			<input type="hidden" asp-for="@Model.Spares[item].Id" />
			<input type="hidden" asp-for="@Model.Spares[item].LabelName" />
			<input type="hidden" asp-for="@Model.Spares[item].Count" />
		</div>
	}
	<hr>
	<div class="row">
		<div class="col-4">Название:</div>
		<div class="col-8"><input type="text" name="title" id="title" /></div>
	</div>
	<div class="row">
		<div class="col-4">Цена:</div>
		<div class="col-8"><input type="number" name="price" id="price" /></div>
	</div>
	<div class="row">
		<div class="col-4">Длительность:</div>
		<div class="col-8"><input type="number" name="duration" id="duration" /></div>
	</div>	
	<div class="row">
		<div class="col-8"></div>
		<div class="col-4">
			<input type="submit" value="Создание" class="btn btn-primary" />
		</div>
	</div>
</form>