@using STOContracts.ViewModels

@model List<WorkViewModel>

@{
	ViewData["Title"] = "Works";
}

<div class="text-center">
	<h1 class="display-4">Работы</h1>
</div>


<div class="text-center">
	@{
		if (Model == null)
		{
			<h3 class="display-4">Авторизируйтесь</h3>
			return;
		}

		<p>
			<a asp-action="CreateWork">Создать работу</a>
		</p>
		<p>
			<form method="post"> 
				<button type="submit" class="btn btn-primary" asp-controller="home" asp-action="Emulation">Имитация</button>
			</form>
		</p>
		<table class="table">
			<thead>
				<tr>
					<th>
						Номер
					</th>
					<th>
						Название
					</th>
					<th>
						Цена
					</th>
					<th>
						Длительность
					</th>
					<th>
						Дата
					</th>
					<th>
						Кладовщик
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Id)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Title)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Price)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Duration)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Date)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.StorekeeperId)
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
</div>